---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-4xl w-full font-bold">个人简历</div>
  </div>
  电话：17733961689 | 邮箱：lijunzhe@hnu.edu.cn | 微信：lajiaochaorouyyyds
  <div class="mb-10 text-justify">
    
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">教育经历</div>
  </div>
  
  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="湖南大学 计算机科学与技术专业学士"
      subtitle="2019年9月-至今 湖南省长沙市岳麓区"
      desc="排名：1/221。GPA：3.96/4.0。《计算机系统》课程助教，计科1901班长，院辩论队领队，校主席团候选人。"
    />
    <TimeLineElement
      title="北京大学 计算中心准硕士"
      subtitle="不被退学就算成功"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">实习经历</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="北京大学长沙计算与数字经济研究院算力网络研究中心实习生"
      subtitle="2022年07月 - 至今 湖南省长沙市岳麓区"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">项目经历</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="SCOW - Super Computing On Web"
      subtitle="2022年07月 - 至今 | 项目成员"
      desc="SCOW是一个面向超算使用员和管理员的、基于Web的超算门户(portal)和管理系统(mis)。本人主要负责跨集群和跨中心文件传输模块的设计、实现和优化。属研究院的实习项目，这也是我的本科毕业设计。"
    />
    <TimeLineElement
      title="基于OneNet云平台的智能IoT出行设备"
      subtitle="2021年04月 - 2022年04月 | 项目组长"
      desc="以旅行箱作为切入点，融合物联网技术、嵌入式开发技术和软件开发技术，打造具有环境监测、远近距离定位和人脸信息处理的“人”、“云”、“物”三者互联的多功能智能设备。属国家级大创项目，拥有软件著作权一项。"
    />
    <TimeLineElement
      title="光网络组播路由多目标优化算法研究"
      subtitle="2021年06月 - 2022年03月 | 项目成员"
      desc="基于人工智能遗传算法，改进算子自适应选择策略，将其应用于多目标优化的光网络组播路由问题上。使用MOEA的Java算法框架，补充NSGA、SSNSGA和AOSSSNSGA等算法的基准测试和对比实验。以第二作者身份在投JCR二区《Soft Computing》期刊。"
    />
    <TimeLineElement
      title="基于句柄的心电图自动导出系统"
      subtitle="2021年10月 - 2021年12月 | 独立完成"
      desc="通过python脚本基于句柄进行窗口和按键的检测，并调用鼠标和键盘IO接口实现自动化控制。帮助湘雅三医院实现心电图数据集自动导出，节省了部分人力。"
    />
    <TimeLineElement
      title="C++线程池并发服务器"
      subtitle="2022年03月 - 2022年05月 | 项目成员"
      desc="采用线程池IO复用式并发服务器架构，涉及多线程并发编程、epoll复用IO、网络编程、并发瓶颈分析、服务器代理的实现等等。通过ab压力测试，在ubuntu12核11G内存下可支持10000并发量。"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">荣誉奖项</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a target="_blank"> 湖南省优秀毕业生，湖南大学三好学生标兵、三好学生、优秀学生干部</a>
    </li>
    <li>
      <a target="_blank"> 国家奖学金（连续三年），华为奖学金，华为智能基座奖学金</a>
    </li>
    <li>
      <a target="_blank"> 全国大学生物联网竞赛华中及西南赛区二等奖（队长）</a>
    </li>
    <li>
      <a target="_blank"> 全国大学生数学竞赛湖南省二等奖</a>
    </li>
    <li>
      <a target="_blank"> 华为软件精英挑战赛武汉长沙赛区三等奖（队员）</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">技能</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6 gap-2 mb-10">
    <li>C++</li>
    <li>C</li>
    <li>Python</li>
    <li>Java</li>
    <li>Linux</li>
    <li>Git</li>
    <li>Github</li>
    <li>SpringBoot</li>
    <li>Android</li>
  </ul>
  
</BaseLayout>
