---
import BaseLayout from "../layouts/BaseLayout.astro";   
import Card from "../components/Card.astro";
---
<BaseLayout title = "Friends">
  <div>
    <div class="text-3xl w-full font-bold mb-5">友链</div>
		<text>欢迎加入友链，联系方式：<a href="mailto:lijunzhe@hnu.edu.cn">lijunzhe@hnu.edu.cn</a> </text>
  </div>

	<Card 
		title="Zi'an Li"
		img="/zian-0427.png"
		url="https://zian-0427.github.io"
		tags={["AI", "图神经网络"]}
	/>
	<Card
  		title="Kery"
		img="/kery.png"
		url="https://keryer.github.io"
		tags={["CTFer", "Reverse", "Fuzzing"]}
	/>
	<Card
  		title="Carol"
		img="/Carol.jpg"
		url="http://www.carol-gutianle.top"
		tags={["NLP", "ML", "AI", "全栈开发"]}
	/>
	<Card
  		title="Carbda"
		img="/Carbda.png"
  		url="https://carbda.com"
		tags={["后端","前端","Android","电信云"]}
  	/>
</BaseLayout>
