---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout> 
  <div class="text-xl py-1" >那就不要留，时光一过不再有 👋 </div>

  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">I'm tulvgengenr </div>
    <br/>
    <ul class="list-disc md:columns-3 columns-3 mx-6 gap-1 mb-1 ">
      <li>程序猿🐒</li>
      <li>坚定的实用主义者👨‍💻</li>
      <li>狂热的美食探店人🍰</li>
      <li>日常口胡的辩论屑🙊</li>
      <li>酷爱悬疑电影🎬</li>
      <li>阿瓦隆影帝👺</li>
      <li>云顶之弈钻石守门员😈</li>
      <li>偶尔捡起来的摄影小白📸</li>
      <li>喜欢旅行🚶</li>
    </ul>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">最近的项目 </div>
  </div>
  <HorizontalCard
    title="SCOW"
    img="/scow.svg"
    desc="SCOW是一个面向超算使用员和管理员的、基于Web的超算门户(portal)和管理系统(mis)。本人主要负责跨集群和跨中心文件传输模块的设计、实现和优化。这也是我的本科毕业设计。"
    url="https://github.com/PKUHPC/SCOW"
    badge="项目成员"
  />
  <div class="divider my-0"></div>
  <br/>

    <div>
      <div class="text-3xl w-full font-bold mb-5 mt-10">最近的博客</div>
    </div>

    {
      last_posts.map((post) => (
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
        />
        <div class="divider my-0"></div>
      ))
    }

</BaseLayout>
