---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    
    <a href="https://tulvgengenr.github.io" target="_blank" class="font-bold">
      &copy; {today.getFullYear()}  tulvgengenr ⚡️
    </a>
  </div>
</footer>
<style>

</style>
